{% extends 'training_app/base.html' %}
{% load bootstrap4  %}
{% block navbar %}
        <ul class="nav">
            <li>
                 <a href="{% url 'training_app:index'%}">
                    <i class="pe-7s-graph"></i>
                    <p>Tableau de bord</p>
                </a>
            </li>
            <li>
                 <a href="{% url 'training_app:drebin'%}">
                    <i class="pe-7s-note2"></i>
                    <p>DREBIN</p>
                </a>
            </li>
            <li  class="active">
                <a href="{% url 'training_app:apks' %}">
                    <i class="pe-7s-news-paper"></i>
                    <p>Apks</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="pe-7s-science"></i>
                    <p>Datasets</p>
                </a>
            </li>
            <li class="active-pro">
                <a href="#">
                    <i class="pe-7s-rocket"></i>
                    <p> Anti-malware</p>
                </a>
            </li>
        </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                      <div class="content">
                           <form class="input-group" method="GET" action="{% url 'training_app:apks' %}">
                               <input class="form-control input-search" name='q' placeholder="recherche par hash, appname, package_name, developpeur, date ou taille" type="text">
                                  <span class="input-group-btn">
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Recherche</button>
                                  </span>
                           </form>
                      </div>
            </div>
            {% if apks %}
                <div class="list-group">
                        {% for apk in apks %}
                            <div class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1" ><a href="{{ apk.id }}">{{ apk.name  }} ({{ apk.package }})</a></h5>
                              <small>{{ apk.sha256 }} </small>
                            </div>
                            <small>{{ apk.added_on }} - </small>
                            <small><a href="?q={{ apk.developer }}">{{ apk.developer }}</a></small>
                          </div>
                        {% endfor %}
                </div>
            {% else %}
                <p class="text-muted">Aucun APK trouvé, réessayez avec un autre mot clé.</p>
            {% endif %}

        </div>
    </div>
{% endblock %}

